body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-color {
  background: #8cd0e3;
  background: linear-gradient(to bottom right, #8cd0e3 0, #f08ccd 100%);
}

.second-color {
  background-color: white;
}

/* NAV */
.bg-nav {
  background-color: #73cae2;
}

/* CAROUSEL */
.carousel-img {
  height: 500px;
  background-size: cover;
  background-position: center center;
}

.carousel-margin {
  margin: 3.45rem 0 6rem;
}

/* PRODUCT CARD */
.card-height {
  height: 300px;
}

/* SHOPPING CART NAVBAR */
.fa-stack[data-count]:after {
  position: absolute;
  right: 5px;
  top: -2px;
  content: attr(data-count);
  font-size: 0.5rem;
  padding: 0.2rem;
  border-radius: 50%;
  line-height: 0.75em;
  text-align: center;
  font-weight: 600;
  color: white;
  border: solid 2px #e42e2e;
  background-color: #e42e2e;
}

/* SEARCH DROPDOWN */
.search-results {
  position: absolute;
  top: 3rem;
  z-index: 1000;
}

/* SHOPPING CART PAGE */
.cart-bg {
  min-height: 100vh;
}

/* BUTTONS */
.btn-custom {
  background-color: #ffe774;
  border-radius: 1px;
}

.btn-custom:hover {
  background-color: #ddc967;
}

.btn-custom:focus {
  outline: #d1bc46 5px auto;
  box-shadow: none;
}

/* PRODUCT PAGE */
.margin-product {
  margin: 4rem -2rem auto 3.45rem;
}

.product-header {
  background-color: #2e2e2e;
  color: #f1eded;
  padding: 4.5rem 3rem;
}

.product-price {
  padding: 0 3rem;
  margin: 3.5rem auto;
}

.product-price h4 {
  color: #b12704;
}
.product-price h4 span {
  font-size: 1rem;
}

/* CART PAGE */
.total-wrapper {
  padding: 2rem;
}
